@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #004777;
  --secondary: #FF7700;
  --text: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-inl {
  display: inline-block;
}

.stop_div {
  padding: 10px
}

.stop-res-def {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 20rem;
  width: 80%;
  overflow-y: scroll;
}

.span-stop-code {
  background-color: #004777;
  padding: 5px;
  color: white;
  border-radius: 10px;
  margin-right: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
  /* border-top: 4px solid #FF7700;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  /*border-radius: 5px; */
}

h1 {    
  /*height: 20%;*/
  font-size: 2rem;
  /*padding-bottom: 5%;*/
  color: #FF7700;
}

input[type="time"]::-webkit-calendar-picker-indicator{
  filter: invert(100%);
}

input[type="time"] {
  background: none;
  color: white;
}
/* Agencies */

.oc_colr_p {
  color: #ED1B2E;
}
.oc_colr_s {
  color: #2C2C2C;
}

.sto_colr_p {
  color: #33A948;
}
.sto_colr_s {
  color: #007F89;
}
.bg {
  background-position: center center !important;
}
h3 {
  text-align: center;
}
h2 {
  font-size: 1.5rem;
  color: #FF7700;
}