.map_container {
  width: 70%;
  height: 100vh;
}

.sidebar {
  width: 30%;
  background: white;
  display: flex;
  flex-direction: column;
}

.main_content {
  display: flex;
}

.gap_flex {
  display: flex;
  gap: 0.5vh;
}

.arrv_scroll {
  overflow-x: scroll;
  scrollbar-width: none;
}

.grow_parent {
  flex-grow: 1; /* Allow the element to grow and take up remaining space */
  overflow: auto; /* Prevent overflow */
  height: 20vh;
  display: flex;
  flex-direction: column;
}

.loading {
  height: 23vh;
  text-align: center;
}

.arrv_title {
  display: flex;
  padding: 1vh;
  justify-content: space-between;
  align-items: center;
}

.heading_child {
  display: flex;
  justify-content: center;
  /* gap: 10px; */
  padding-inline: 10px;
  flex-direction: row;
  background: white;
  margin: 1vh;
  padding: 1vh;
  border-radius: 1vh;
}

.arrv_elem {
  display: flex;
  justify-content: flex-start;
  /*gap: 1vh;*/
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1vh;
  /* border-bottom: 1px solid #004777; */
  background: #efefef;
  /*padding: 0.5vh; */
  border-radius: 1vh;
}

.arrv_elem p {
  width: 100%;
  padding: 0.5vh;
}

.route_span {
  background: #004777;
  color: white;
  padding-inline: 1vh;
  border-radius: 1vh;
  border: 1px solid;
}

.mpx_popupCtn {
  font-size: 1.7vh;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

.sidebar_header {
  text-align: center;
  background: #004777;
}

.marker {
  text-align: center;
  /* font-weight: bold; */
  line-height: 2vh;
  color: #FF7700 !important;
  font-size: 16px;
}

.search_btn {
  color: #004777;
}

.search_ipt {
  color: #004777;
  background: none;
  flex: 1;
}

.arrv_scroll_5 {
  overflow-x: scroll;
  height: 85vh;
}

.share {
  display: block;
  background: #004777;
  color: white;
  padding-inline: 1vh;
  border-radius: 1vh;
  border: none;
  text-align: center;
  width: 100%;
}

.share_pad {
  display: block;
  background: #004777;
  color: white;
  padding-inline: 1vh;
  border-radius: 1vh;
  border: none;
  text-align: center;
  /* width: 100%; */
  margin-inline: 2vh;
}

.schedIfSp {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.schd_a {
  flex: none;
  width: 90%;
}

.error {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  margin: 3vh;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: #FF7700;
}

.no_content {
  display: flex;
  flex-grow: 1;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #FF7700;
}

.no_content_child {
  display: flex;
  /*height: 100%;*/
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FF7700;
  width: 100%;

}

.headsign {
  display: flex;
  width: 100%;
  gap: 1vh;
  align-items: center;
  background: #004777;
  color: white;
  border-radius: 1vh 1vh 0vh 0vh;
  padding: 0.5vh;
}

.logo {
  margin: auto;
}

.multi_span {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.adv_src {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-inline: 1vh;
}

@media screen and (max-width: 768px) {
  .main_content {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: flex-end;
    }

  .map_container {
    width: 100%;
    height: 55vh;
  }

  .sidebar {
    width: 100%;
    /*flex-grow: 1;*/
  }

  .arrv_scroll {
    overflow-x: scroll;
    display: flex;
    height: 100%;
  }

  .arrv_elem {
    height: 100%;
    padding: 0px;
    margin: 0px;
    margin-inline: 1vh;
    align-items: baseline;
    width: 60vw;

  }
}

.canceled {
  background: #FF7700;
  /*padding: 1vh; */
  color: white;
}

.canceled p {
  width: 100%;
  padding: 0.5vh;
}

.arrv_parent {
  flex-basis: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /*padding-bottom: 1vh;*/
  align-items: stretch;
  justify-content: space-between;
  gap: 1.5vh;
}

.no_bg {
  background: none;
}