.map_container {
  width: 70%;
  height: 100vh;
}

.sidebar {
  width: 30%;
  background: white;
}

.main_content {
  display: flex;
}

.arrv_scroll {
  overflow-x: scroll;
  height: 80vh;
}
.loading {
  height: 23vh;
  text-align: center;
}

.heading_child {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-inline: 10px;
  flex-direction: column;
}
.arrv_elem {
  display: flex;
  justify-content: flex-start;
  gap: 1vh;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1vh;
  /* border-bottom: 1px solid #004777; */
  background: #efefef;
  padding: 0.5vh;
  border-radius: 1vh;
}

.arrv_elem span {
  background: #004777;
  color: white;
  padding-inline: 1vh;
  border-radius: 1vh;
}

.sidebar_header {
    height: 10vh;
    background: white;
    text-align: center;
    border-bottom: 1px solid #004777;
  }

.button {
  background: #004777;
  color: white;
  padding: 1vh;
  margin-inline: 2.5%;
  width: 95%;
  border-radius: 1vh;
  border: none;
  text-align: center;
}

.error {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  margin: 3vh;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: #FF7700;
}
.no_content {
  height: 90vh;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color:   #FF7700;;
}
.no_content_child {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:   #FF7700;;

}
@media screen and (max-width: 768px) {
  .main_content {
    display: flex;
    flex-direction: column-reverse;
  }

  .map_container {
    width: 100%;
    height: 62vh;
  }
  .sidebar {
    width: 100%;
  }
  .arrv_scroll {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FF7700;
      }
  .arrv_parent {
    height: 23vh;
  }
  .sidebar_header {
    height: 9vh;
    text-align: center;
  }
  .arrv_elem {
    display: flex;
    justify-content: flex-start;
    gap: 1vh;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1vh;
    background: white;
    padding: 0.5vh;
    border-radius: 1vh;
    }
  .error {
    width: 100%;
  }
  .no_content {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FF7700;
  }
}