.map_container {
  width: 70%;
  height: 100vh;
}

.sidebar {
  width: 30%;
  background: white;
}

.main_content {
  display: flex;
}

.arrv_scroll {
  overflow-x: scroll;
  height: 84vh;
}

.loading {
  height: 23vh;
  text-align: center;
}

.heading_child {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-inline: 10px;
  flex-direction: column;
}

.arrv_elem {
  display: flex;
  justify-content: flex-start;
  /*gap: 1vh;*/
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1vh;
  /* border-bottom: 1px solid #004777; */
  background: #efefef;
  /*padding: 0.5vh; */
  border-radius: 1vh;
}

.arrv_elem p {
  width: 100%;
  padding: 0.5vh;
}

.route_span {
  color: white;
  padding-inline: 1vh;
  border-radius: 1vh;
  border: 1px solid;
}

.mpx_popupCtn {
  font-size: 1.7vh;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

.sidebar_header {
  height: 7vh;
  background: white;
  text-align: center;
  /*border-bottom: 1px solid #004777;*/
}

.marker {
  color: #004777;
}

.search_btn {
  color: #004777;
  border-bottom: 1px solid;
}

.search_ipt {
  border-bottom: 1px solid #004777;
}

.arrv_scroll_5 {
  overflow-x: scroll;
  height: 85vh;
}

.share {
  display: block;
  background: #004777;
  color: white;
  padding-inline: 1vh;
  border-radius: 1vh;
  border: none;
  text-align: center;
  width: 100%;
}

.share_pad {
  display: block;
  background: #004777;
  color: white;
  padding-inline: 1vh;
  border-radius: 1vh;
  border: none;
  text-align: center;
  /* width: 100%; */
  margin-inline: 2vh;
}

.share_sm {
  display: block;
  background: #004777;
  color: white;
  padding-inline: 1vh;
  border-radius: 1vh;
  border: none;
  text-align: center;
  /*width: 100%;*/
}

.button {
  display: block;
  background: #004777;
  color: white;
  padding: 1vh;
  width: 100%;
  border-radius: 1vh;
  border: none;
  text-align: center;
}

.button_flex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 10px;
  padding-inline: 1vh;
}

.schd_a {
  flex: none;
  width: 90%;
}

.error {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  margin: 3vh;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: #FF7700;
}

.no_content {
  height: 90vh;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #FF7700;
  ;
}

.no_content_child {
  display: flex;
  /*height: 100%;*/
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FF7700;
  width: 100%;

}

.headsign {
  display: flex;
  width: 100%;
  gap: 1vh;
  align-items: center;
  background: #004777;
  color: white;
  border-radius: 1vh 1vh 0vh 0vh;
  padding: 0.5vh;
}

.logo {
  margin: auto;
}

.multi_span {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .main_content {
    display: flex;
    flex-direction: column-reverse;
  }

  .map_container {
    width: 100%;
    height: 60vh;
  }

  .sidebar {
    width: 100%;
  }

  .arrv_scroll {
    height: 14vh;
    display: flex;
    flex-direction: row;
    /*color: #FF7700;*/
  }

  .arrv_scroll_5 {
    height: 25vh;
    display: flex;
    flex-direction: row;
  }

  .arrv_parent {
    height: 23vh;
  }

  .sidebar_header {
    height: 5vh;
    text-align: center;
  }

  .arrv_elem {
    display: flex;
    justify-content: flex-start;
    /*gap: 1vh;*/
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1vh;
    border-radius: 1vh;
    color: black;
    /*width: 25vh;*/
    height: 80%;
    flex: none;
    background: #efefef;
    /*padding: 1vh;*/
  }

  .error {
    width: 100%;
  }

  .logo {
    display: none;
  }

  .no_content {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FF7700;
    align-items: center;
  }
}

.canceled {
  background: #FF7700;
  /*padding: 1vh; */
  color: white;
}

.canceled p {
  width: 100%;
  padding: 0.5vh;
}