.route_spn {
    background-color: var(--primary);
    padding: 5px;
    color: var(--text);
    border-radius: 10px;
    margin-right: 10px;
    font-weight: 700;
  }

  .rt_inline {
    display: inline;
}
