.rt_hd {
    text-align: left;

}

.arrv {
    flex: none;
    width: 100%;
    padding: 10px;
    background: rgb(255 255 255 / 74%);
    border-radius: 10px;
}

.arrv_txt {
display: inline;
}

.hed {
    height: 10vh;
    padding-inline: 3vh;
    background: rgb(255 255 255 / 74%);
}

.arrv_par {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    height: 80vh;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 10px;
}
.hed_h1 {
    height: auto;
    color: #ED1B2E;
}
.opt {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: #2C2C2C;
    padding: 10px;
}
.realtime_msg {
    display: flex;
    gap: 1vh;
    color: white;
}
.btn {
    color: white;
    border: 2px solid;
    padding-inline: 10px;
    border-radius: 10px;
}

.sched_err {
    padding: 10px;
    background: rgb(255 255 255 / 74%);
    border-radius: 10px;
}