/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none; 
    /* border-top: 4px solid #FF7700;*/
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #004777;
    border-radius: 5px; 
  }
  